body {
  font-family: 'PT Sans';
  margin: 0px;
}

header, nav a:hover {
  background-color: #2C5700;
  text-decoration: none;
}

header #headertitle {
  color: #FFFFFF;
  font-size: 300%;
  line-height: 100px;
}

header #omnisearch input {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  padding: 3px;
  font-size: large;
}

header #headertitle, header #omnisearch {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

nav {
  background-color: #34944D;
  text-align: center;
}

nav a {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 40px;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;
}

main {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #003399;
}

a:hover {
  text-decoration: underline;
}

.box {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 50px;
}

.box_title {
  text-align: center;
  border-bottom: 1px solid black;
  color: #FFFFFF;
  background-color: #86C67C;
  font-weight: bold;
  font-size: 130%;
}

.box_body {
  padding: 20px;;
}

.box_body_readmore {
  text-align: right;
  margin-right: 50px;
}

footer {
  background-color: #267340;
  color: #FFFFFF;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 80%;
}

footer .foot {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

footer .footrow {
  line-height: 200%;
}

footer .footrowtitle {
  font-weight: bold;
  font-size: 110%;
}

footer a {
  color: inherit;
  text-decoration: inherit;
}

footer a:hover {
  text-decoration: underline;
}
