table {
  font-size: 75%;
  text-align: center;
}

table .pdblist {
  text-align: right;
}

table form {
  display: inline;
  margin-left: 5px;
}

table input {
  width: 50px;
  display: inline;
  color: #00CC00;
  font-weight: bold;
}
