body {
  margin-left: 20px;
  margin-right: 20px;
}

table {
  font-size: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-collapse: collapse;
}

table td, th {
  border: 1px solid gray;
  padding-left: 2px;
  padding-right: 2px;
}

table .pdblist {
  text-align: right;
}

table form {
  display: inline;
  margin-left: 5px;
}

table input {
  width: 50px;
  display: inline;
  color: #00AA00;
  font-weight: bold;
}

.auto a {
  color: #0000CC;
}

.manual a {
  color: #00AA00;
  font-weight: bold;
}

.incorrect a {
  color: #AA0000;
  font-style: italic;
}

.annotated {
  color: #00DD00;
}

.notannotated {
  color: #DD0000;
}
