form {
  padding: 30px;
  border: 1px solid silver;
}

input[type=submit] {
  margin-top: 25px;
}

.detailed_search {
  font-size: 80%;
  margin-top: 15px;
}

#ligands, #sequences {
  margin-bottom: 120px;
}

.pure-form-aligned .pure-control-group label {
    width: 200px;
}

label {
  text-align: right;
  font-size: 90%;
}

.formrow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checklabel {
  font-size: 80%;
}

input[type=checkbox] {
  margin-top: 8px;
}
