#list_container {
  width: 100%;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}

#category_container {
  width: 100%;
  display: none;
  table-layout: fixed;
}


#list_categories {
  display: table-row;
  width: 100%;
}

.list_category {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: #E2F0D9;
  font-weight: bold;
  border-bottom: 5px solid #538135;
  transition: 0.3s;
  cursor: pointer;
}

.list_category.selected, .list_category:hover {
  background-color: #538135;
  color: #FFFFFF;
}

#category_description {
  display: none;
}

table#list_table {
  width: 90%;;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  border: 2px solid white;
}

#list_table th {
  background-color: #6FAC46;
  color: #FFFFFF;
}

#list_table .A:hover, #list_table .D:hover, #list_table .N:hover {
  text-decoration: underline;
  cursor: pointer;
}

#list_table tr.light {
  background-color: #EBF1E9;
}

#list_table tr.dark {
  background-color: #D5E3CF;
}

#list_table th {
  white-space: nowrap;
}

#list_table td, th {
  padding-left: 1%;
  padding-right: 1%;
  word-wrap: break-word;
}


@media only screen and (min-width: 568px) {
  /* iPad down */


}


@media only screen and (min-width: 769px) {
  /* Small Desktop screens */
  #category_container {
    display: table;
  }

  #category_description {
    display: block;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


@media only screen and (min-width: 940px) {
  /* Big Desktop screens */


}
