html, body {
  font-family: 'PT Sans' !important;
  margin: 0px;
  height: 100%;
}

header {
  background-color: #2C5700;
  text-decoration: none;
}

header #headertitle {
  color: #FFFFFF;
  font-size: 200%;
  line-height: 80px;
  width 100%;
}

#headertitle #syn {
  font-family: 'courier new';
  font-style: italic;
  font-weight: 500;
}

#headertitle #pharm {
  font-variant: small-caps;
  letter-spacing: 3px;
  margin-left: 4px;
  font-size: 150%;
  color: #70B1F4;
}

header #blurb {
  display: none;
}

header #headertitle, header #blurb {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

nav {
  background-color: #34944D;
  text-align: center;
}

nav a {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  transition: 0.6s;
}

nav a:hover {
  color: #CCFFCC;
  text-decoration: none;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  min-height: 70%;
}

a {
  text-decoration: none;
  color: #003399;
}

a:hover {
  text-decoration: underline;
}

.box_container {
  width: 100%;
}

.cell {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

.box {
  width: 90%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.box_title {
  text-align: center;
  border-bottom: 1px solid black;
  color: #FFFFFF;
  background-color: #86C67C;
  font-weight: bold;
  font-size: 130%;
}

.box_body {
  padding: 20px;;
}

.box_body_readmore {
  text-align: right;
  margin-right: 50px;
}

footer {
  background-color: #267340;
  color: #FFFFFF;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 80%;
}

footer .foot {
  display: block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 20px;
}

footer .footrow {
  line-height: 200%;
}

footer .footrowtitle {
  font-weight: bold;
  font-size: 110%;
}

footer a {
  color: inherit;
  text-decoration: inherit;
}

footer a:hover {
  text-decoration: underline;
}

#intro {
  border: 1px solid #002200;
  padding: 20px 40px;
  text-align: center;
  background-color: #F6F9ED;
  margin: 20px auto 40px auto;
  width: 90%;
  box-sizing: border-box;
}


.sponsor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 30%;
  height: auto;
}



@media only screen and (min-width: 568px) {
  /* iPad down */
  header #headertitle {
    display: inline-block;
    width: 49%;
  }

  header #blurb {
    display: inline-block;
    width: 49%;
    height: 30px;
    border-radius: 10px;
    padding: 3px;
    font-size: large;
    color: #EEEEEE;
    font-weight: bold;
    font-style: italic;
  }

  nav a {
    display: inline-block;
  }

  footer .foot {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-bottom: 0px;
  }

}


@media only screen and (min-width: 769px) {
  /* Small Desktop screens */
  nav a {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media only screen and (min-width: 940px) {
  /* Big Desktop screens */
  nav a {
    padding-left: 40px;
    padding-right: 40px;
  }

  main {
    width: 940px;
  }

}
